<section class="text_full--section text-center">
    <div class="inner py-80">
        <h2 class="u-h1 i-content mw-90">
            <span class="sp-quote">“</span>
            Simply Food considers quality the most important requirement for our food products. 
            With 60 years of experience in providing the highest standard of vegetarian ramen and rice products, Simply Foods products have gained 
            a loyal following around the world. We have rice paper, pho noodles, fine vermicelli, and more.
            
        </h2>
        
    </div>
</section>