{% if section.settings.hide_video == false %}
<div class="container">
  <div class="VideoWrapper">
    {% if section.settings.video_url.type == 'youtube' %}
      <iframe class="Image--lazyLoad" data-src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&showinfo=0&controls=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
    {% elsif section.settings.video_url.type == 'vimeo' %}
      <iframe class="Image--lazyLoad" data-src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&portrait=0&byline=0&color={{ settings.accent_color | remove_first: '#' }}" frameborder="0"></iframe>
    {% endif %}
  </div>
</div> 
{% endif %}

<style>
  .VideoWrapper{
  	border-radius: 30px;
    margin: 50px 0;
  }
</style>  

{% schema %}
    {
        "name": "Video Embed",
        "settings": [
            {
                "id": "video_url",
                "type": "video_url",
                "label": "Video URL",
                "accept": ["vimeo", "youtube"],
                "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
            },
            {
                "type": "checkbox",
                "id": "hide_video",
                "label": "Hide video",
                "default": false
            }

        ]
    }
{% endschema %}