{% section 'smk_collection_blocks' %}<div class='smk-sections-above-content'></div>{% section 'collection-template' %}<div class='smk-sections-below-content'></div>
{% section 'recently-viewed-products' %}
{% section 'collection-footer' %}<div class='smk-sections-above-footer'></div>