<div id="french__landing">

    {% section 'slideshow' %}

    {% section 'full-text' %}

    {% section 'raw-cta' %}

    {% section 'quality-cta' %}

    {% section 'landing-products' %}

    {% section 'french-landing-main' %}

    {% section 'landing-contact' %}

</div>
