{% section 'info-collaboration-3' %}
{% section 'chef-collaboration-3' %}
{% section 'video-collaboration-3' %}
{% section 'horizontal-gallery-collaboration-3' %}
{% section 'testimonial-collaboration-3' %}
{% section 'website-button-collaboration-3' %}
{% section 'map-collaboration-3' %}
<div class="container featured-recipe">
	{% section 'featured-dish-collaboration-3' %}
	{% section 'step-recipe-collaboration-3' %}
</div> 
{% section 'gallery-collaboration-3' %}
{% section 'other-collaborator-3' %}
 

<style>
  .container{
	max-width: 1080px;
    margin: auto;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    font-size: 100px !important;
    color: #e63c00 !important;
  }
  .owl-carousel .owl-stage{
    z-index: 1;  
  }
  .owl-carousel .owl-stage-outer{
  	z-index: 2;
  }
  .owl-nav {
    display: flex;
    justify-content: space-between;
    width: 120%;
    position: absolute;
    top: 15%;
    left: -10%;
  }
  .featured-recipe{
  	overflow: hidden;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.17);
	border-radius: 30px;
  }
  @media (max-width: 768px){
    .container{
    	padding: 0 15px;
    }
    .owl-carousel{
    	width: 80%;
      	margin: auto;
    }
    .featured-recipe{
    	padding: 0px;
      	max-width: 95%;
    }
    .owl-nav {
      width: 130%;
      left: -15%;
    }
  }
</style>

<script>
  jQuery(document).ready(function($) {
    
    $('.horizontal-gallery').owlCarousel({
          loop:true,
          margin:20,
          nav:true,
          dots: false,
          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:2
              },
              1000:{
                  items:3
              }
          }
      })
    $('.products-carousel').owlCarousel({
          loop:true,
          margin:20,
          nav:true,
          dots: false,
          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:2
              },
              1000:{
                  items:3
              }
          }
      })
    $('.collaborators-carousel').owlCarousel({
          loop:true,
          margin:20,
          nav:true,
          dots: false,
          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:2
              },
              1000:{
                  items:3
              }
          }
      })
    
    $("a.item-gallery").fancybox({
          'titleShow'     : false
      });
  });
 
</script>